<!DOCTYPE html>
<html>
<head>
  <title>Wicked Bloodlines</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 class="title">
    Wicked Bloodlines
  </h1>
  <nav>
    <ul class="nav-bar">
      <li class="nav-selection">
        <%= link_to "The Bloodlines", bloodlines_path, class: "nav-links" %>
      </li>
      <li class="nav-selection">
        <%= link_to "Excerpts", excerpts_path, class: "nav-links" %>
      </li>
      <li class="nav-selection">
        <%= link_to "Freebies", freebies_path, class: "nav-links" %>
      </li>
      <li class="nav-selection">
        <%= link_to "About", about_path, class: "nav-links" %>
      </li>
      <li class="nav-selection">
        <%= link_to "Blog", "http://www.anthonyzullo.wordpress.com", class: "nav-links" %>
      </li>
    </ul>
  </nav>
</header>
<h1>THE BLOODBORN SERIES</h1>
<h2 class="subtitle">When the Gods return once again, they intend to finish the game they started.</h2>
<%= yield %>
<footer>&copy; Anthony Zullo</footer>
</body>
</html>
